include README.md
include LICENSE
include pyproject.toml

recursive-include src *.py
recursive-include rust *.toml
recursive-include rust *.lock
recursive-include rust *.rs
recursive-include app_codebook_files *.xlsx
recursive-include apps_to_filter_files *.xlsx

global-exclude *.pyc
global-exclude __pycache__
